body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    justify-content: center;

}

#escrevedor-wrapper {
    padding: 5px;
    font-family: Roboto, system-ui, sans-serif;
    color: rgb(236, 236, 236); 
    color: rgb( 26, 115, 232 );;   
}

#escrevedor-header h1 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb( 26, 115, 232 );
}

.button {
    font-family: Roboto, system-ui, sans-serif;
    align-items: center;
    border: 1px solid rgb( 218, 220, 224 );
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb( 26, 115, 232 );
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-weight: 500;
    height: 32px;
    justify-content: center;
    min-width: 5.14em;
    outline-width: 0;
    padding: 8px 16px;
    position: relative;
    user-select: none;
    background: white;
    margin: 10px 0 5px 10px;
    transition: 0.7s;
}


.escrevedor-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 20px;
    margin-right: 60px;
}

.button:hover {
    border-color: 210, 227, 252;
    font-size: 14.3px;
    color: white;
    background-color: rgb( 26, 115, 232 );
    
}

.button.primary {
    background: white;
    color: rgb( 26, 115, 232 );
    transition-duration: 0.5s;
    border: solid 1px rgb(221, 224, 228);
    
}
.button.primary:hover {
    background: rgba( 26, 115, 232, 0.9 );
    box-shadow: 0 1px 2px 0 rgba( 66, 133, 244, .3),
    0 1px 3px 1px rgba( 66, 133, 244, .15);
    color: white;
    font-size: 14px;
}

textarea {
    border: 2px solid rgba( 26, 115, 232, 0.4 );
    padding: 8px;
    border-radius: 4px;
    display: block;
    width: 224px;
    margin-top: 5px;
    font-family: Roboto, system-ui, sans-serif;
    margin: 120px;
}

.escrevedor-buttons p {
    margin: 10px 0 5px 10px;
}
.go-to-options{
    font-family:  Roboto, system-ui, sans-serif;
    align-items: center;
    border: 1px solid rgb( 218, 220, 224 );
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb( 26, 115, 232 );
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-weight: 500;
    height: 32px;
    justify-content: center;
    min-width: 5.14em;
    outline-width: 0;
    padding: 8px 16px;
    position: relative;
    user-select: none;
    background: white;
    margin: 10px 0 5px 10px;
    margin-right: 60px;
    transition: 0.8s;
    margin-left: 60px;
}
.go-to-options:hover{
    font-size: 14px;
    color: white;
    background-color: rgb( 26, 115, 232 );
}
